<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>これで終了です</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='end.css') }}">
</head>
<body>
    <h1>これでアンケートは終わりです<h1>
    <p>ご協力ありがとうございました<p> 
    <form method="get" action="{{ url_for('display', encrypted_id=encrypted_id) }}">
        <button type="submit">おすすめを見る</button> 
    </form>

    <form method="get" action="{{ url_for('home') }}">
    <button type="submit">ホームに戻る</button> 
    </form>
</body>
</html>