<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>osusumekankouti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='useself.css') }}">
</head>
<body>
    <div class="question">
        <h1>あなたがおすすめする観光地を教えてください</h1>
        <form action="{{ url_for('add_images', encrypted_id=encrypted_id) }}" method="post" enctype="multipart/form-data">
            <input type="text" name="place_name">
            <input type="file" name="image_file">
            <input type="submit" value="送信">
        </form>
    </div>
</body>
</html>